/*******GENERAL*******/
#intro,
#fun-facts,
#fun-facts-image,
#environment-image,
#environment,
#behavior,
#behavior-food,
#behavior-seasonal,
#behavior-threats {
    padding: 15px;
}

/*******GRID SETTING*******/
#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 30px;
    margin: 30px;
    grid-template-areas: "intro intro intro" "fun-facts fun-facts fun-facts-image" "environment environment environment" "environment-image environment-image environment-image" "behavior behavior behavior" "behavior-food behavior-seasonal behavior-threats";
}

#intro {
    grid-area: intro;
    background-color: var(--medium-blue);
}

#fun-facts {
    grid-area: fun-facts;
    background-color: var(--light-blue);
}

#fun-facts-image {
    grid-area: fun-facts-image;
    width: 1fr;
    height: 340px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-blue);
}

#fun-facts-image figure {
    height: 300px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#fun-facts-image figure img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#environment-image {
    grid-area: environment-image;
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--darker-blue);
}

#environment-image img {
    height: 300px;
    justify-self: center;
}

#environment {
    grid-area: environment;
    background-color: var(--darker-blue);
}

#behavior {
    grid-area: behavior;
    text-align: center;
    background-color: var(--medium-blue);
}

#behavior-food {
    grid-area: behavior-food;
    background-color: var(--medium-blue);
}

#behavior-seasonal {
    grid-area: behavior-seasonal;
    background-color: var(--medium-blue);
}

#behavior-threats {
    grid-area: behavior-threats;
    background-color: var(--medium-blue);
}

/*******MEDIA QUERIES*******/
@media (max-width:800px) {
    #container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "intro" "fun-facts" "fun-facts-image" "environment" "environment-image" "behavior" "behavior-food" "behavior-seasonal" "behavior-threats";
    }

    #fun-facts-image,
    #fun-facts-image figure img {
        width: 60vw;
    }

    #fun-facts-image {
        margin: auto;
    }

    #environment-image figcaption, #environment-image img {
        width: 60vw;
        height: auto;
    }
}