/*******VARIABLES*******/
:root {
   --light-blue: rgb(185, 209, 209);
   --medium-blue: rgb(141, 179, 178);
   --darker-blue: rgb(113, 165, 172);
}

/*******GENERAL*******/
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

figcaption {
   font-size: 10px;
}

h1 {
   font-family: "Barriecito", system-ui !important;
   font-weight: 400;
   font-style: normal;
   font-size: 60px;
   color: white;
   width: auto;
   background-image: url("../images/title-image.jpg");
   filter: grayscale(60%);
   background-position: 5%;
   background-size: 100vw;
   text-align: center;
   padding: 1ch;
}

h2 {
   font-size: 45px;
   color: rgb(33, 77, 87);
}

h3 {
   font-size: 22px;
}

h2,
h3 {
   font-family: "Sour Gummy", sans-serif;
   font-optical-sizing: auto;
   font-weight: 500;
   font-style: normal;
   font-variation-settings: "wdth" 100;
}

p, li {
   font-size: 18px;
   font-family: "Sour Gummy", sans-serif;
   font-optical-sizing: auto;
   font-weight: 100;
   font-style: normal;
   font-variation-settings: "wdth" 100;
   }

/*******NAVBAR*******/
.navbar {
   display: flex;
   justify-content: space-evenly;
   height: 70px;
}

.navbar a {
   flex: 1 0 auto;
   height: 100%;
   align-content: center;
   color: white;
   font-family: "Sour Gummy", sans-serif;
   font-optical-sizing: auto;
   font-weight: 500;
   font-style: normal;
   font-variation-settings: "wdth" 100;
   font-size: 22px;
   text-align: center;
   text-decoration: none;
   border-right: 1.5px solid white;
   background-color: rgb(97, 97, 97);
}

.navbar a:hover {
   background-color: rgb(142, 142, 142);
}

/*******FOOTER*******/
footer {
   float: left;
   clear: both;
}

/******* MEDIA QUERIES *******/
@media (max-width:650px) {
   h1 {
      font-size: 250%;
   }
}

@media (max-width:430px) {
   .navbar {
      flex-direction: column;
      height: fit-content;
   }

   .navbar a {
      border-right: none;
      border-bottom: 1.5px solid white;
      height: 50px;
   }
}