/******* GRID SETTING *******/
#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 30px;
    grid-template-areas: "intro intro intro" "fun-facts fun-facts fun-facts-image" "environment environment environment" "behavior behavior behavior" "behavior-food behavior-seasonal behavior-threats";
}

#container * {
    background-color: rgb(141, 179, 178);
    /*placeholder background, add unique backgrounds to sections later*/
}

#intro {
    grid-area: intro;
}

#fun-facts {
    grid-area: fun-facts;
}

#fun-facts-image {
    grid-area: fun-facts-image;
    width: 20vw;
    min-width: 185px;
}

#environment {
    grid-area: environment;
}

#behavior {
    grid-area: behavior;
}

#behavior-food {
    grid-area: behavior-food;
}

#behavior-seasonal {
    grid-area: behavior-seasonal;
}

#behavior-threats {
    grid-area: behavior-threats;
}

/******* MEDIA QUERIES *******/
@media (max-width:715px) {
    #container {
        grid-template-columns: 100vw;
        grid-template-rows: auto;
        gap: 30px;
        grid-template-areas: "intro" "fun-facts" "fun-facts-image" "environment" "behavior" "behavior-food" "behavior-seasonal" "behavior-threats";
    }

    #fun-facts-image {
        margin: auto;
    }
}