h1 {
   font-size: 400%;
   color: rgb(255, 255, 255);
   font-variant: small-caps;
   width: auto;
   background-image: url("images/clustered-penguins.jpg");
   background-position: 5%;
   background-size: 100%;
   text-align: center;
   padding: 0.5ch;
   overflow: hidden;
}

.left-side-section {
   float: left;
   width: 50vw;
   flex-direction: column;
}

.left-full-section {
   float: left;
   overflow: visible;
   padding: 3ch;
   position:relative;
   width: 100%;
}

.left-full-section::before {
   content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: -1;
}

#ff::before {
   background-color: rgb(141, 179, 178);
}

#ads::before {
   background-color: rgb(86, 134, 140);
}

h2 {
   font-size: 200%;
   color: rgb(33, 77, 87)
}

h1,
h2,
h3 {
   font-family: 'Rockwell', Courier, serif;
}

p {
   font-family: 'Courier New', Courier, monospace
}

li {
   font-family: 'Courier New', Courier, monospace
}

#size-comparison {
   color: rgb(255, 255, 255)
}

.shadow ol>li {
   text-shadow: 0.2em 0.2em 0.1em rgb(255, 255, 255);
}

#button-box p {
   color: rgb(255, 255, 255);
   background-color: rgb(86, 134, 140);
   padding: 30ch 4ch 4ch 4ch;
   width: 30vw;
   float: right;
   margin: 5vw;
   position: relative;
}

#button-box img {
   position: absolute;
   z-index: 3;
   top: 23vw;
   right: 30vw;
}

#red-button {
   font-family: 'Rockwell', Courier, serif;
   color: rgb(255, 255, 255);
   cursor: pointer;
   background-color: rgb(198, 29, 40);
   border-radius: 25%;
   border-style: outset;
   border-color: rgb(198, 29, 40);
   padding: 2.5ch 2ch 2ch 2ch;
   position: absolute;
   z-index: 4;
   top: 30vw;
   right: 18vw;
}

#red-button:hover {
   color:rgb(0, 0, 0)
}

.top-area {
   display: flex;
   justify-content: space-between;
}