/*******GENERAL*******/
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

h1,
h2,
h3,
p,
ol,
ul {
   padding-left: 30px;
   padding-right: 30px;
}

h1 {
   font-size: 400%;
   color: rgb(255, 255, 255);
   font-variant: small-caps;
   width: auto;
   background-image: url("images/clustered-penguins.jpg");
   background-position: 5%;
   background-size: 100%;
   text-align: center;
   padding: 0.5ch;
}

h2 {
   font-size: 200%;
   color: rgb(33, 77, 87)
}

h1,
h2,
h3 {
   font-family: 'Rockwell', Courier, serif;
}

p {
   font-family: 'Courier New', Courier, monospace
}

li {
   font-family: 'Courier New', Courier, monospace
}

/*******NAVBAR*******/
.main-navbar {
   background-color: rgb(97, 97, 97);
   height: 70px;
   display: flex;
   justify-content: space-evenly;
}

.main-navbar a {
   flex: 1 0 auto;
   height: 100%;
   align-content: center;
   color: rgb(255, 255, 255);
   font-family: 'Rockwell', Courier, serif;
   font-size: 125%;
   text-align: center;
   text-decoration: none;
   border-right: 1.5px solid rgb(255, 255, 255);
}

.main-navbar a:hover {
   background-color: rgb(142, 142, 142);
}

/*******SECTIONS*******/
.left-side-section {
   width: 50vw;
   margin-top: 30px;
   margin-bottom: 30px;
}

#intro {
   margin-bottom: 0;
}

#basic-info {
   margin-top: 0;
}

/*******BUTTON SECTION*******/
#button-box {
   float: right;
   margin: 30px;
   display: flex;
   flex-wrap: wrap;
   justify-content: start;
   width: 40vw;
   background-color: rgb(86, 134, 140);
   padding: 15px;
}

#button-box p {
   color: rgb(255, 255, 255);
   width: 350vw;
   margin-top: 15px;
}

#button-box img {
   z-index: 3;
}

#button-box a {
   align-self: flex-end;
   margin: 15px 15px 40px 15px;
}

#red-button {
   font-family: 'Rockwell', Courier, serif;
   color: rgb(255, 255, 255);
   cursor: pointer;
   background-color: rgb(198, 29, 40);
   border-radius: 25%;
   border-style: outset;
   border-color: rgb(212, 84, 93);
   padding: 2.5ch 2ch 2ch 2ch;
   z-index: 4;
}

#red-button:hover {
   color: rgb(192, 192, 192);
   border-color: rgb(212, 38, 49);
   background-color: rgb(171, 23, 33);
}

/*******SECTIONS*******/
.left-full-section {
   float: left;
   overflow: visible;
   padding: 3ch;
   position: relative;
   width: 100%;
}

.left-full-section::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100%;
   z-index: -1;
}

#ff::before {
   background-color: rgb(141, 179, 178);
}

#ads::before {
   background-color: rgb(86, 134, 140);
}

#ads img {
   height: 27vh;
   width: auto;
   display: block;
   margin: auto;
}

/*******SPECIES SIZE COMPARISON*******/
#species-images {
   display: flex;
   gap: 10px;
   flex-wrap: wrap;
   justify-content: flex-start;
}

.species-item {
   display: flex;
   justify-content: center;
   width: fit-content;
}

.size-comparison-names {
   color: white;
   min-width: 100%;
   text-align: center;
   padding: 1ch 0ch 0.5ch;
}

.lt-symbols {
   height: 27vh;
   font-weight: bold;
   font-size: 8vh;
   display: flex;
   align-items: center;
}

/*******FOOTER*******/
footer {
   float: left;
   clear: both;
}

/******* MEDIA QUERIES *******/
@media (max-width:780px) {
   .top-area {
      flex-wrap: wrap;
   }

   .left-side-section {
      width: 100vw;
   }

   #intro p {
      width: 100vw;
   }

   .button-box {
      margin: auto;
   }

}